<div class="j">

  <div>
    <% if @hashapi.present? %>
          <% @hashapi.each do |element| %>
              <h2><%= element["title"]%></h2>
              <h3><%= element["description"]%><br />
              <a><%= element["url"]%></a><br />
              <%if element["urlToImage"].present? %><%= image_tag (element["urlToImage"]) %><%end%>
              </h3>
        <% end %>
    
    <% end %>
</div>

  <h2>
    This is the home page for Newslang browsing, start browsing or 
    <a href="http://www.railstutorial.org/">sign up now</a>.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("https://i0.wp.com/markwebermusicblog.com/wp-content/uploads/2017/04/hey.jpg?w=1200", alt: "Rails logo"),
            'http://rubyonrails.org/' %>